extends base.pug
block script 
block style
    style
        include ../static/about/about.css
block content
    section#about
        h1 BE A PART OF OUR 10 YEAR OLD LEGECY
        div#about-content
            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div#about-image
                img(src="../static/about/dumbells.png", alt="Dumbells.png")