extends base.pug
block script
block style
    style
        include ../static/home/hero/hero.css
        include ../static/home/Services/services.css
        include ../static/home/sauna/sauna.css
        include ../static/home/review/review.css
block content 
    section#hero_section
        div#cover
            div#text_holder
                h1#A_Place A PLACE WHERE
                h1#Limits LIMITS ARE BROKEN
                h2#Find_The_Best Find The Best Version Of Yourself Here
    section#services_section
        h1 Experience The Fitness Wave
        div#first_row
            div#Strength
                img(src="../static/home/Services/Strength Training.jpg", alt="Strength_Training")
                h2 Strength Training
            div#Crossfit
                img(src="../static/home/Services/Crossfit.jpg", alt="Crossfit")
                h2 Crossfit
            div#Yoga
                img(src="../static/home/Services/Yoga.jpg", alt="Yoga")
                h2 Yoga
        div#second_row
            div#Boxing
                img(src="../static/home/Services/boxing.jpg", alt="boxing")
                h2 Boxing
            div#Calisthanics
                img(src="../static/home/Services/Calisthanics.jpg", alt="Calisthanics")
                h2 Calisthanics
            div#Zumba
                img(src="../static/home/Services/Zumba.jpg", alt="Zumba")
                h2 Zumba
    section#Spa
        div#spa_text
            div
                h1 EXPERIENCE THE SPA
                p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                p do eiusmod tempor incididunt ut labore et dolore magna 
                p aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                p ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                p Duis aute irure dolor in reprehenderit in voluptate velit esse
                p cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                p occaecat cupidatat non proident, sunt in culpa qui officia
                p deserunt mollit anim id est laborum.
        div#spa_image
            img(src="../static/home/sauna/interior-sauna.jpg", alt="Sauna")
    section#Reviews
        h1#review_heading SEE WHAT ARE MEMBERS SAYING
        div#review_holder
            div.card
                div.avatar_holder 
                    img(src="../static/home/review/Girl 1.png", alt="Girl 1")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper scelerisque mi, in malesuada felis malesuada vel. 
            div.card
                div.avatar_holder 
                    img(src="../static/home/review/Men 1.png", alt="Men 1")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper scelerisque mi, in malesuada felis malesuada vel. 
            div.card
                div.avatar_holder 
                    img(src="../static/home/review/Girl 2.png", alt="Girl 2")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper scelerisque mi, in malesuada felis malesuada vel. 
                