
#hero_section{
    display: flex;
    background-color: #e89436;
    border-bottom: 6px solid #e89436;
}
#cover{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1.5)), url("../static/home/hero/hero_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text_holder h1{
    color: #e89436;
    font-family: "Contrail One", sans-serif;
    font-style: normal;
}
#A_Place{
    font-size: 70px;
    margin: 27px 293px 0px 0px;
}
#Limits{
    font-size: 70px;
    margin: 0px 0px 0px 100px;
}
#Find_The_Best{
    color: white;
    font-family: "Contrail One", sans-serif;
    font-style: normal;
}